@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@{
    BaseViewModel baseView = new BaseViewModel();
    baseView.Page = "None";
   await Html.RenderPartialAsync("_Tabview", baseView);

}


<div class="sign section--bg" data-bg="../img/section/section.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sign__content">
                    <!-- authorization form -->
                    <form action="#" class="sign__form">
                        <a asp-controller="Home" asp-action="Index" class="sign__logo">
                            <img src="img/showroomLock.jpg" alt="">
                        </a>

                        <div class="sign__group">
                            <input type="text" class="sign__input" placeholder="Email">
                        </div>

                        <div class="sign__group">
                            <input type="password" class="sign__input" placeholder="Password">
                        </div>

                        <div class="sign__group sign__group--checkbox">
                            <input id="remember" name="remember" type="checkbox" checked="checked">
                            <label for="remember">Remember Me</label>
                        </div>

                        <button class="sign__btn" type="button">Sign in</button>

                        <span class="sign__text">Don't have an account? <a asp-controller="Auth" asp-action="Signup">Sign up!</a></span>

                        <span class="sign__text"><a asp-controller="Auth" asp-action="Reset">Forgot password?</a></span>
                    </form>
                    <!-- end authorization form -->
                </div>
            </div>
        </div>
    </div>
</div>