<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShowRoomTV</title>
 


    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="~/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="~/css/nouislider.min.css">
    <link rel="stylesheet" href="~/css/ionicons.min.css">
    <link rel="stylesheet" href="~/css/plyr.css">
    <link rel="stylesheet" href="~/css/photoswipe.css">
    <link rel="stylesheet" href="~/css/default-skin.css">
    <link rel="stylesheet" href="~/css/main.css">

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="~/icon/favicon-32x32.png" sizes="32x32">
    <link rel="apple-touch-icon" href="~/icon/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/icon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/icon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/icon/apple-touch-icon-144x144.png">

    <meta name="description" content="">
    <meta name="keywords" content="">







</head>
<body>


   

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="footer">
        <div class="container">
            <div class="row">
                <!-- footer list -->
                <div class="col-12 col-md-3">
                    <h6 class="footer__title">Download Our App</h6>
                    <ul class="footer__app">
                        <li><a href="#"><img src="img/Download_on_the_App_Store_Badge.svg" alt=""></a></li>
                        <li><a href="#"><img src="img/google-play-badge.png" alt=""></a></li>
                    </ul>
                </div>
                <!-- end footer list -->
                <!-- footer list -->
                <div class="col-6 col-sm-4 col-md-3">
                    <h6 class="footer__title">Resources</h6>
                    <ul class="footer__list">
                        <li><a asp-controller="Home" asp-action="About">About Us</a></li>
                        <li><a asp-controller="Pricing" asp-action="Index">Pricing Plan</a></li>
                        <li><a asp-controller="Home" asp-action="Help">Help</a></li>
                    </ul>
                </div>
                <!-- end footer list -->
                <!-- footer list -->
                <div class="col-6 col-sm-4 col-md-3">
                    <h6 class="footer__title">Legal</h6>
                    <ul class="footer__list">
                        
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Security</a></li>
                    </ul>
                </div>
                <!-- end footer list -->
                <!-- footer list -->
                <div class="col-12 col-sm-4 col-md-3">
                    <h6 class="footer__title">Contact</h6>
                    <ul class="footer__list">
                        <li><a href="tel:+27719781802">(+27) 71 978 1802</a></li>
                        <li><a href="mailto:info.showtimetv.co.za">info.showtimetv.co.za</a></li>
                    </ul>
                    <ul class="footer__social">
                        <li class="facebook"><a href="#"><i class="icon ion-logo-facebook"></i></a></li>
                        <li class="instagram"><a href="#"><i class="icon ion-logo-instagram"></i></a></li>
                        <li class="twitter"><a href="#"><i class="icon ion-logo-twitter"></i></a></li>
                        
                    </ul>
                </div>
            
            </div>
        </div>
    </footer>




    <script  src="~/js/lottie.js" type="text/javascript"></script>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.mousewheel.min.js"></script>
    <script src="~/js/jquery.mCustomScrollbar.min.js"></script>
    <script src="~/js/wNumb.js"></script>
    <script src="~/js/nouislider.min.js"></script>
    <script src="~/js/plyr.min.js"></script>
    <script src="~/js/jquery.morelines.min.js"></script>
    <script src="~/js/photoswipe.min.js"></script>
    <script src="~/js/photoswipe-ui-default.min.js"></script>
    <script src="~/js/main.js"></script>


  










    
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
