@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div style="width:1067px;height:600px" class="lottie" data-animation-path="../../anime/video.json" data-anim-loop="true" data-name="ninja"></div>