@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    BaseViewModel baseView = new BaseViewModel();
    baseView.Page = "Pricing";
    await Html.RenderPartialAsync("_Tabview", baseView);

}
<!-- end header -->
<!-- page title -->
<section class="section section--first section--bg" style="background-image: url('img/section/section.jpg'); background-size: 100% 100%;" data-bg="../img/section/section.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section__wrap">
                    <!-- section title -->
                    <h2 class="section__title">Pricing</h2>
                    <!-- end section title -->
                    <!-- breadcrumb -->
                    <ul class="breadcrumb">
                        <li class="breadcrumb__item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb__item breadcrumb__item--active">Pricing</li>
                    </ul>
                    <!-- end breadcrumb -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end page title -->
<!-- pricing -->
<div class="section">
    <div class="container">
        <div class="row">
            <!-- plan features -->
            <div class="col-12">
                <ul class="row plan-features">
                    <li class="col-12 col-md-6 col-lg-4">10% off on monthly Plan!</li>
                    <li class="col-12 col-md-6 col-lg-4">Get feed back from Plan.</li>
                    <li class="col-12 col-md-6 col-lg-4">30+ mini bus on stream.</li>
                    
                </ul>
            </div>

            <div class="col-12" style="text-align: center;">
                <h2 class="section__title">Video Advertising</h2>
            </div>
            <!-- end plan features -->
            <!-- price -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="price">
                    <div class="price__item price__item--first"><span>15 sec</span> <span>R862,5 pw</span></div>
                    <div class="price__item"><span>6 days</span></div>
                   
                    <div class="price__item"><span>R 3881,25 per month</span></div>
                    <a href="#" class="price__btn">Choose Plan</a>
                </div>
            </div>
            <!-- end price -->
            <!-- price -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="price price--premium">
                    <div class="price__item price__item--first"><span>30 sec</span> <span>R1 725 pw</span></div>
                    <div class="price__item"><span>6 days</span></div>
                    
                    <div class="price__item"><span>R 7 762,5 per month</span></div>
                    <a href="#" class="price__btn">Choose Plan</a>
                </div>
            </div>
            <!-- end price -->
            <!-- price -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="price">
                    <div class="price__item price__item--first"><span>45 sec</span> <span>R2 587,5 pw</span></div>
                    <div class="price__item"><span>6 days</span></div>
                   
                    <div class="price__item"><span>R 11 643,75 per month</span></div>
                    <a href="#" class="price__btn">Choose Plan</a>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="price">
                    <div class="price__item price__item--first"><span>1 min</span> <span>R 3 450 pw</span></div>
                    <div class="price__item"><span>6 days</span></div>
                    
                    <div class="price__item"><span>R 132 525 per month</span></div>
                    <a href="#" class="price__btn">Choose Plan</a>
                </div>
            </div>
            <!-- end price -->


























            <div class="col-12" style="text-align: center;">
                <h2 class="section__title">Image Advertising</h2>
            </div>
            <!-- end plan features -->
            <!-- price -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="price">
                    <div class="price__item price__item--first"><span>10 sec</span> <span>R450 pw</span></div>
                    <div class="price__item"><span>6 days</span></div>
                   
                    <div class="price__item"><span>R2 070 per month</span></div>
                    <a href="#" class="price__btn">Choose Plan</a>
                </div>
            </div>
            <!-- end price -->
            <!-- price -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="price price--premium">
                    <div class="price__item price__item--first"><span>15 sec</span> <span>R690 pw</span></div>
                    <div class="price__item"><span>6 days</span></div>
                  
                    <div class="price__item"><span>R3 105 pw</span></div>
                    <a href="#" class="price__btn">Choose Plan</a>
                </div>
            </div>
            <!-- end price -->
            <!-- price -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="price">
                    <div class="price__item price__item--first"><span>20 sec</span> <span>R920 pw</span></div>
                    <div class="price__item"><span>6 days</span></div>
                   
                    <div class="price__item"><span>R4 140 per month</span></div>
                    <a href="#" class="price__btn">Choose Plan</a>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="price">
                    <div class="price__item price__item--first"><span>30 sec</span> <span>R1 380</span></div>
                    <div class="price__item"><span>6 days</span></div>
                    
                    <div class="price__item"><span>R6 210 per month</span></div>
                    <a href="#" class="price__btn">Choose Plan</a>
                </div>
            </div>











        </div>
    </div>
</div>
<!-- end pricing -->
<!-- features -->
<section class="section section--dark">
    <div class="container">
        <div class="row">
            <!-- section title -->
            <div class="col-12">
                <h2 class="section__title section__title--no-margin">Our Features</h2>
            </div>
            <!-- end section title -->
            <!-- feature -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="feature">
                    <i class="icon ion-ios-tv feature__icon"></i>
                    <h3 class="feature__title">Image ads</h3>
                    <p class="feature__text">We offer still image advertising. In this circle your image will be displayed from 10 to 30 seconds on screen prior to your subscription</p>
                </div>
            </div>
            <!-- end feature -->
            <!-- feature -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="feature">
                    <i class="icon ion-ios-film feature__icon"></i>
                    <h3 class="feature__title">Video ads</h3>
                    <p class="feature__text">Video advertising runs from 15 seconds to a minutes as allocated on your subscription</p>
                </div>
            </div>
            <!-- end feature -->
            <!-- feature -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="feature">
                    <i class="icon ion-ios-notifications feature__icon"></i>
                    <h3 class="feature__title">Text ads</h3>
                    <p class="feature__text">Text advertising is displayed at the bottom of the screen as a distraction to your product</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end features -->
<!-- partners -->
<section class="section">
    <div class="container">
        <div class="row">
            <!-- section title -->
            <div class="col-12">
                <h2 class="section__title section__title--no-margin">Our Partners</h2>
            </div>
            <!-- end section title -->
            <!-- section text -->
            <div class="col-12">
                <p class="section__text section__text--last-with-margin">Within our local region our efforts are shared with the vukta taxi association.</p>
            </div>
            <!-- end section text -->
            <!-- partner -->
          
            <!-- end partner -->
        </div>
    </div>
</section>
<!-- end partners -->
<!-- footer -->
